
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



/* titolo */

.title_sub {
  text-align: center;
  background: #cccccc;
}

#title {
  font-size: 40px;
}

.title_sub p {
  margin-top: 20px;
  font-size:20px;
}




/* image */

#img_div {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  background: white;
}

#image {
  width: 70%;
}

#img-caption {
  margin-top: 10px;
  font-size: 17px;
}




/* info */

#tribute-info {
  text-align: center;
}

#tribute-info p {
  font-size: 20px;
  margin-top: 20px;
}




/* responsive */

@media screen and (max-width: 800px) {
  
  .title_sub {
    padding: 14px; 
  }
  
  #title {
    font-size: 34px;
  }

  #img_div {
    margin: 10px auto;
    width: 100%;
  }

  #image {
    width: 100%;
  }

}
